/* src/index.css */
:root {
  --color-primary: #d8e7ed;     /* color de fondo principal */
  --color-secondary: #ffffff;   /* color de superficies (tarjetas, etc.) */
  --color-tertiary: #074260;    /* color de acento */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Colores de texto y fondo */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-tertiary);
  background-color: var(--color-primary);
}

/* Links */
a {
  font-weight: 500;
  color: var(--color-tertiary);
  text-decoration: none;
}
a:hover {
  color: #052d48; /* tono más oscuro del color de acento */
}

/* Titulares */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Estilo de botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}
button:hover {
  background-color: #052d48;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
